openapi: 3.0.3
info:
  title: Robocorp Control Room Assets Process Runs API
  description: The Robocorp Control Room API provides programmatic access to the orchestration platform for RPA automations. It supports workspace management, worker lifecycle, worker group organization, process definition and execution, process run monitoring, step run output retrieval, work item management, asset storage, vault secrets, webhook configuration, and task package deployment. Authentication uses API keys with the RC-WSKEY prefix passed in the Authorization header.
  version: v1
  contact:
    name: Robocorp Support
    url: https://robocorp.com/docs
  termsOfService: https://robocorp.com/terms-of-service
  license:
    name: Proprietary
servers:
- url: https://cloud.robocorp.com/api/v1
  description: Robocorp Control Room API (non-SSO)
- url: https://your-sso-subdomain.robocorp.com/api/v1
  description: Robocorp Control Room API (SSO)
tags:
- name: Process Runs
  description: Process execution and monitoring
paths:
  /workspaces/{workspace_id}/processes/{process_id}/runs:
    get:
      operationId: listProcessRuns
      summary: List Process Runs
      description: List all runs for a specific process.
      tags:
      - Process Runs
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ProcessId'
      - name: limit
        in: query
        schema:
          type: integer
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of process runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessRunList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: startProcessRun
      summary: Start Process Run
      description: Start a new execution run for a process.
      tags:
      - Process Runs
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ProcessId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartProcessRunRequest'
      responses:
        '201':
          description: Process run started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /workspaces/{workspace_id}/processes/{process_id}/runs/{run_id}:
    get:
      operationId: getProcessRun
      summary: Get Process Run
      description: Retrieve details for a specific process run.
      tags:
      - Process Runs
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ProcessId'
      - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Process run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessRun'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteProcessRun
      summary: Delete Process Run
      description: Delete a process run record.
      tags:
      - Process Runs
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ProcessId'
      - $ref: '#/components/parameters/RunId'
      responses:
        '204':
          description: Process run deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workspaces/{workspace_id}/processes/{process_id}/runs/{run_id}/stop:
    post:
      operationId: stopProcessRun
      summary: Stop Process Run
      description: Stop an active process run execution.
      tags:
      - Process Runs
      security:
      - ApiKeyAuth: []
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      - $ref: '#/components/parameters/ProcessId'
      - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Process run stopped
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    ProcessId:
      name: process_id
      in: path
      required: true
      schema:
        type: string
      description: The process identifier
    WorkspaceId:
      name: workspace_id
      in: path
      required: true
      schema:
        type: string
      description: The workspace identifier
    RunId:
      name: run_id
      in: path
      required: true
      schema:
        type: string
      description: The process run identifier
  schemas:
    StartProcessRunRequest:
      type: object
      properties:
        variables:
          type: object
          additionalProperties: true
        work_item_ids:
          type: array
          items:
            type: string
    ProcessRun:
      type: object
      properties:
        id:
          type: string
        process_id:
          type: string
        state:
          type: string
          enum:
          - PENDING
          - RUNNING
          - COMPLETED
          - FAILED
          - STOPPED
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer
    ProcessRunList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProcessRun'
        has_more:
          type: boolean
  responses:
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key with RC-WSKEY prefix (e.g., "RC-WSKEY your-api-key")
